# Genel (Tüm projeler için)
.DS_Store
Thumbs.db
*.log
node_modules/
venv/
.env
.idea/
.vscode/
*.pyc
__pycache__/

# .NET / Visual Studio için
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.sln.ide
*.vs/
*.vscode/
TestResults/
Packages/
project.lock.json
*.dotCover
*.ncrunch*
*.coverage
*.tlog
*.Build.cs
**/Properties/launchSettings.json

# React için
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lock
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python için
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.pytest_cache/
venv/
.env
.envrc
*.sqlite3
db.sqlite3
instance/
.mypy_cache/
.pytest_cache/
.coverage
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Docker (Eğer Docker kullanıyorsan)
docker-compose.override.yml
.dockerignore
